// Define variables for your color scheme
$fb-blue: #0084FF;

// For example:
$red: #C4183C;
$blue: #0067F4;
$info-blue: #00B8D8;
$yellow: #FFB400;
$orange: #E67E22;
$green: #60D173;
$gray: #5A6169;
$light-gray: #E9ECEF;
$dark-gray: rgba(0,0,0,0.75);
$background: #FAFAFA;

// Some color scheme classes

.color-primary {
  color: $green;
}

.color-white {
  color: white;
}
