.title-section {
  height: 72px;
  display: flex;
  text-align: left;
  align-items: center
}

.title-section h3 {
  // margin: 0;
}

.title-section h2 {
  font-weight: 500;
}

.section-spacer {
  height: 40px;
}
