// SUPER USEFUL SHIT

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.small-padding {
  padding: 5px !important;
}

.no-border {
  border: 0 !important;
}

.bottom-space {
  height:56px;
}

// KEY BODY TAGS DEFINED

body {
  font-size: 1rem;
  font-weight: 300;
  background-color: #fff;
}

a {
  color: $gray;
  text-decoration: none;
}

a:hover {
  color: $gray;
  text-decoration: underline;
}

b, strong {
  font-weight: 900;
  color: black;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: .5rem;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
  margin-bottom: 0.75rem;
  font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
  font-weight: 300;
}

h1, .h1 {
  font-size: 2.7rem;
  font-weight: 500;
  letter-spacing: -0.0625rem;
  line-height: 3rem;
}

h2, .h2 {
  font-size: 2.441rem;
  letter-spacing: -0.0625rem;
  line-height: 2.25rem;
}

h3, .h3 {
  font-size: 1.953rem;
  line-height: 2.25rem;
}

h4, .h4 {
  font-size: 1.563rem;
  line-height: 2rem;
}

h5, .h5 {
  font-size: 1.25rem;
  line-height: 1.5rem;
}

h6, .h6 {
  font-size: 1rem;
  line-height: 1.5rem;
}

p + h1, p + .h1,
p + h2, p + .h2,
p + h3, p + .h3,
p + h4, p + .h4,
p + h5, p + .h5,
p + h6, p + .h6 {
  margin-top: 2.25rem;
}

.lead {
  line-height: 1.875rem;
}

p {
  margin-bottom: 1.75rem;
}

mark,
.mark {
  background-color: #fff09e;
}

.blockquote {
  margin-bottom: 0.75rem;
  font-size: 1.5rem;
}

.blockquote-footer {
  font-size: 1.125rem;
}

.img-thumbnail {
  padding: 0;
  border: none;
  border-radius: 0.375rem;
  box-shadow: none;
}

.figure-img {
  margin-bottom: 0.75rem;
}

.figure-caption {
  font-size: 1rem;
}

code,
kbd,
pre,
samp {
  font-family: "Roboto Mono", Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
}

code {
  padding: 0.1875rem 0.8125rem;
  font-size: 0.75rem;
}

kbd {
  padding: 0.1875rem 0.8125rem;
  font-size: 0.75rem;
  border-radius: 0.625rem;
  box-shadow: none;
}

pre {
  margin-bottom: .75rem;
  font-size: 0.75rem;
  line-height: 1.375rem;
}
