<!-- Welcome Section -->
<div class="wrapper">
    <div class="container">
        <h1>Kitty Component Library</h1>
        <p>Here to explain our extension design. Remember to view in mobile view as that is how the extension will always be seen</p>
    </div>
    <div class="product-by">
        <a href="#" target="_blank">
            <p class="no-margin">A Product By</p>
            <h4 class="no-margin">Team Kitty</h4>
        </a>
    </div>
</div>

<hr>

<!-- Colors -->
<div id="colors" class="container mb-5">

    <div class="section-title col-lg-8 col-md-10 ml-auto mr-auto">
        <h3 class="mb-4">Colors</h3>
    </div>

    <div class="example col-md-10 ml-auto mr-auto">
        <div class="row">
            <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
                <div class="color">
                    <div class="swatch" style="background: #0067f4"></div>
                    <span class="title">Primary</span>
                    <span class="hex-value">#0067f4</span>
                </div>
            </div>

            <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
                <div class="color">
                    <div class="swatch" style="background: #5A6169"></div>
                    <span class="title">Secondary</span>
                    <span class="hex-value">#5A6169</span>
                </div>
            </div>

            <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
                <div class="color">
                    <div class="swatch" style="background: #17c671"></div>
                    <span class="title">Success</span>
                    <span class="hex-value">#17c671</span>
                </div>
            </div>

            <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
                <div class="color">
                    <div class="swatch" style="background: #00b8d8"></div>
                    <span class="title">Info</span>
                    <span class="hex-value">#00b8d8</span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
                <div class="color">
                    <div class="swatch" style="background: #ffb400"></div>
                    <span class="title">Warning</span>
                    <span class="hex-value">#ffb400</span>
                </div>
            </div>

            <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
                <div class="color">
                    <div class="swatch" style="background: #c4183c"></div>
                    <span class="title">Danger</span>
                    <span class="hex-value">#c4183c</span>
                </div>
            </div>

            <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
                <div class="color">
                    <div class="swatch" style="background: #e9ecef"></div>
                    <span class="title">Light</span>
                    <span class="hex-value">#e9ecef</span>
                </div>
            </div>

            <div class="color-wrapper col-lg-3 col-md-6 col-sm-6">
                <div class="color">
                    <div class="swatch" style="background: #212529"></div>
                    <span class="title">Dark</span>
                    <span class="hex-value">#212529</span>
                </div>
            </div>
        </div>
    </div>

</div>
