<% @title = "Loading..." %>

<div class="navbar navbar-background">
  <!--<i class="fa fa-home fa-lg color-white navigation-link no-margin" aria-hidden="true"></i>-->
  <div></div>
  <i class="fa fa-bars color-white fa-lg" id="burger-menu" aria-hidden="true"></i>
</div>

<div class="plain-card-content-center-vertical-max-height">
  <div class="text-center">
    <i class="fa fa-spinner fa-pulse fa-lg navigation-link no-margin color-primary fa-3x" aria-hidden="true"></i>
    <% fun_arr = ["Using litter responsibly", "Compawling the database", "Purrsuading your mates to join", "Ensuring purrrfect operation", "Cat-aloging expenses", "Preventing cat-astrophe"] %>
    <div class="title-section">
      <div class="text mt-5 pt-5">
        <p class="no-margin text-center pulsate" id="header" style="font-weight: 300; color: grey; letter-spacing: 2px;">UPDATING KITTY</p>
        <p class="mb-2 text-center" style="font-weight: 300; color: grey; letter-spacing: 2px; font-size: 0.8rem;">Kitty will be down for the next few days.</p>
        <p class="mb-2 text-center" style="font-weight: 300; color: grey; letter-spacing: 2px; font-size: 0.8rem;">Due to surprising popularity, we have taken Kitty down for the next few days to update our software. We are building a platform that is more able to scale and will be using Facebook's security system so that you can trust your data will not be lost or stolen.</p>
      </div>
    </div>
  </div>
</div>
